@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.ADP {

    overflow: hidden;
    /* Evita scroll */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    line-height: 1.2;
}
